.col-md-6.workshop-other-attrs
  %section
    %h5 Title:
    = presentation.title
  %section
    %h5 Facilitator:
    = presentation.user.name if presentation.user
  %section
    %h5 Description:
    = presentation.description