.admin-users-list
  %header
    %h1 Manage Badges
    = render partial: 'search', locals: { badges: @badges }
    = link_to  'Create a Badge', new_admin_badge_path

  %table.table
    %tbody
      %tr
        %th Badge    
        %th Description
        %th Award
        %th Value
      = render partial: 'badge', collection: @badges
