%div{ class: current_badge(badge) }
  .col-md-3.badge-sidebar-image
    .span3
      = image_tag 'no-image.svg'
  .col-md-9.badge-sidebar-name
    .span9
      = badge.name
      %span{ class: owned_badge?(badge) }
