= header($height)
  background: $pink
  border-bottom: 1px solid $white
  height: $height
  position: relative
  width: 100%

.header-home
  +header(332px)
  .circle
    left: 50%
    top: 87%

.header-dashboards
  +header(200px)
  .circle
    left: 50%
    top: 40%
  .header-vertical-line
    background: $pink-light
    height: 80px
    margin: 0 auto
    width: 2px
  .welcome-image
    margin-top: 90px

.header-default
  +header(100px)

.header-right
  border-left: 1px solid $pink-light
  float: right
  height: 332px
  width: 50%

.header-left
  border-right: 1px solid $pink-light
  float: left
  height: 332px
  width: 50%
