%footer.admin-footer.badges-footer-separator
  %p
    Total
    - resource = params[:controller].split('/').last
    = pluralize(instance_variable_get("@#{resource}").size, resource)
    %div{ :class => "#{resource}-footer-icon" }
