- resource = params[:controller].split('/').last
- resource_name = "@#{resource}"

%footer.admin-footer.badges-footer-separator
  %p
    = if instance_variable_defined? resource_name
      Total
      = pluralize(instance_variable_get(resource_name).size, resource)
      %div{ class: "#{resource}-footer-icon" }
