%footer.admin-footer.badges-footer-separator
  %p
    Total
    - if @users
      = pluralize(@users.size, 'user')
      .users-footer-icon
    - elsif @badges
      = pluralize(@badges.size, 'badge')
      .badges-footer-icon
    - elsif @workshops
      = pluralize(@workshops.size, 'workshop')
      .workshops-footer-icon
    - elsif @show_dont_tells
      = pluralize(@show_dont_tells.size, 'show don\'t tell')
      .show-dont-tells-footer-icon  