%footer.admin-footer.badges-footer-separator
  %p
    Total
    - if @users
      = pluralize(@users.size, 'user')
      .users-footer-icon
    - elsif @badges
      = pluralize(@badges.size, 'badge')
      .badges-footer-icon
    - else
      = pluralize(@workshops.size, 'workshop')
      .workshops-footer-icon