%div{ class: define_badge_column }
  .badge-info-inside
    = image_tag badge.image_url
    %h5.badge-name
      = badge.name
    -#.badge-hover-section
    %p.badge-description
      = badge.description
    = link_to 'Details', badge_path(badge), class: 'badge-details-link'
