%h1.welcome
  Welcome to
  .welcome-image
.google-sign-in
  = link_to redirect_url, class: 'google-sign-in-info' do
    .google-sign-in-image
    %p
      Sign in with your
      %strong crowdint account
    .google-sign-in-decorator
= link_to '', 'http://www.crowdint.com', class: 'crowdint-logo'