%h1.welcome
  Welcome to
  .welcome-image
.google-sign-in
  = image_tag 'sign-in-icon.png', class: 'google-sign-in-image'
  %p.google-sign-in-info
    = link_to 'SIGN IN', redirect_url
    WITH YOUR
    %strong CROWDINT ACCOUNT
  .google-sign-in-decorator
= link_to '', 'http://www.crowdint.com', class: 'crowdint-logo'
