.admin-settings-header
  background: #fff
  height: 70px
  border-bottom: 1px solid $pink-50
  .left-side
    width: 50%
    float: left
    .admin-settings-logo
      background: url(/assets/sprite-badges.png) -82px -577px
      float: left
      height: 70px
      margin: 0 5px 0 0
      width: 70px
    h1
      font-size: 20px
      font-style: normal
      font-family: roboto
      color: #aa392d
      margin-top: 22px
      margin-left: 50px
      font-weight: 100
    p
      position: relative
      left: 142px
      top: -15px
      font-size: 85%
      color: $gray-25
  .right-side
    width: 50%
    float: right
    a
      color: #aa392d
      margin-top: 22px
      float: right
      margin-right: 50px
  .mid-flag-corner
    background: url(/assets/sprite-badges.png) -12px -796px
    top: -40px
    float: right
    height: 67px
    left: 20px
    position: relative
    width: 50px
