.badges
  background-color: $white

.badges-header
  color: #aa392d
  display: inline-block
  font-family: 'Roboto'
  font-size: 1.3em
  font-weight: 400
  margin: 15px

.badges-header-container
  border-bottom: 1px solid $pink-50

.badges-header-image
  background: image_url('sprite-badges.png') -27px -585px no-repeat
  display: inline-block
  height: 50px
  width: 50px

.badges-title
  padding: 15px
  vertical-align: 16px
  font-size: 1em

.badges-menu
  float: right
  margin: 30px
  li
    display: inline-block
    border-right: 1px solid $gray-light
    padding: 0 15px
    &:last-child
      border: none

.badges-check-all
  font-size: 1em
  font-weight: 400
  color: $yellow

.badges-check-personal
  font-size: 1em
  font-weight: 400
  color: $orange-dark
