#user-show .square-box
  background: #fff
  height: 360px
  width: 250px

  .profile-picture img
    border-radius: 80px
    border: 3px solid #fff
    bottom: 90px
    left: 50px
    position: relative
  .user-info
    margin: -98px 0 0 22px
    text-align: center
    width: 200px
    hr
      display: block
      height: 1px
      border: 0
      border-top: 1px solid #eea39c
      margin: 1em 0
      padding: 0
    .name
      color: #282928
      font-family: 'Droid Serif', serif
      font-size: 18px
      font-style: normal
      font-weight: bold
    .position
      color: #282928
      font-family: 'Roboto'
      font-size: 14px
      font-style: normal
      margin-top: -8px
    .summary-info
      font-family: 'Roboto'
      font-size: 12px
      text-align: justify
    .title
      color: #aa392d
      font-family: 'Roboto'
      font-size: 14px
      font-style: normal
      font-weight: 500
      text-align: left
    .title-summary-image
      background: url(/assets/sprite-badges.png) -24px -450px
      float: left
      height: 30px
      margin: 0 5px 0 0
      width: 30px
    .title-skills-image
      background: url(/assets/sprite-badges.png) -24px -403px
      float: left
      height: 30px
      margin: 0 5px 0 0
      width: 30px
    .nav > li
      border-right: 1px solid #282928
      color: #282928
      float: left
      margin-right: 10px
      padding-right: 10px
      &:last-child
        border-right: none
