$gray-dark: #282928
$gray-25: #A5A2A2
$gray: #EDEDED
$gray-light: #939393
$gray-lighter: #F8F8F8

$orange-light: #F7BE7B
$orange: #D44928
$orange-dark: #AA392D

$pink-100: #F9DDDA
$pink-50: #EAA399
$pink-25: #EBA299
$pink-light: #F8E3E0

$yellow: #EF911F

$white: #FFF
