$gray-dark: #282928
$gray-25: #A5A2A2
$gray: #EDEDED
$gray-light: #939393

$orange: #D44928
$orange-dark: #AA392D

$pink-100: #F9DDDA
$pink-50: #EAA399
$pink-25: #EBA299

$yellow: #EF911F

$white: #fff
