.show-dont-tell-nested-fields
  .field
    = f.input :title, input_html: { class: 'input-show-dont-tell' }
  .field
    = f.input :user_id,
              input_html: { class: 'input-show-dont-tell' },
              collection: User.all,
              value_method: :id,
              label_method: :name,
              prompt: 'Select a Facilitator',
              label: 'Facilitator',
              class: 'input-show-dont-tell'
  .field
    = f.input :description, input_html: { class: 'input-show-dont-tell' }