.row
  .col-md-12
    .span12.show-dont-tells
      %header.show-dont-tells-header-container
        %h3.show-dont-tell-header
          %span.show-dont-tell-header-image
          %span.show-dont-tells-title All Show don't tells
        %ul.show-dont-tells-menu
          %li.last
            = link_to 'Back to my Dashboard', user_path(current_user),
              class: 'workshops-last-link'
          .show-dont-tells-header-decorator
      %section
        .workshops-all
          = show_show_dont_tell(params[:active])
      %footer.show-dont-tells-footer-separator
        %p
          Total
          - if params[:active]
            = pluralize(@show_dont_tells.active.size, 'show don\'t tell')
          - else
            = pluralize(@show_dont_tells.size, 'show don\'t tell')              
        .show-dont-tells-footer-icon
