#user-show .square-box
  background: #fff
  height: 356px
  max-height: 388px
  width: 250px

  .profile-picture img
    border-radius: 80px
    border: 3px solid #fff
    bottom: 90px
    left: 50px
    position: relative

  .user-info
    margin: -98px 0 0 22px
    text-align: center
    width: 200px

    .admin-btn
      background: #d44928
      border: none
      bottom: 12px
      color: #fff
      font-weight: 100
      height: 40px
      padding: 5px 56px
      position: relative
      width: 200px

    hr
      border: 0
      display: block
      height: 1px
      padding: 0

    .small-bar
      margin: 1em 0

    .big-bar
      margin: 1em 0 1em -22px
      width: 250px

    .color-bar
      border-top: 1px solid #eea39c

    .color-bar-light
      border-top: 1px solid #f3d0ce

    .name
      color: #282928
      font-family: 'Droid Serif', serif
      font-size: 18px
      font-style: normal
      font-weight: bold

    .position
      color: #282928
      font-family: 'Roboto'
      font-size: 14px
      font-style: normal
      margin-top: -8px

    .summary-info
      font-family: 'Roboto'
      font-size: 12px
      text-align: justify

    .title
      color: #aa392d
      font-family: 'Roboto'
      font-size: 14px
      font-weight: 500
      text-align: left
      a
        bottom: 6px
        color: #aa392d
        font-weight: 200
        position: relative

    .title-summary-ico
      background: url(/assets/sprite-badges.png) -24px -450px
      float: left
      height: 30px
      margin: 0 5px 0 0
      width: 30px

    .title-skills-ico
      background: url(/assets/sprite-badges.png) -24px -403px
      float: left
      height: 30px
      margin: 0 5px 0 0
      width: 30px

    .title-account-ico
      background: url(/assets/sprite-badges.png) -24px -536px
      float: left
      height: 30px
      margin: -8px 5px 0 0
      width: 30px

    .bottom-flag-corner
      background: url(/assets/sprite-badges.png) -85px -720px
      bottom: 51px
      float: left
      height: 67px
      left: 177px
      margin: 0 5px 0 0
      position: relative
      width: 60px

    .nav > li
      border-right: 1px solid #282928
      color: #282928
      float: left
      font-family: 'Roboto'
      font-size: 12px
      margin-right: 10px
      padding-right: 10px
      &:last-child
        border-right: none
