!!!
%html
  %head
    = render 'layouts/head'
  %body
    .header-dashboards
      .header-vertical-line
      .circle
      .welcome-image
    = notice
    #content
      .container
        = yield
    %footer#footer
      .container
        %ul
          %li= link_to '', 'http://www.crowdint.com', class: 'crowdint-logo'
          %li.culture-logo
